
   body
   {
     background-color:lightblue;
     background-image: url("/home/Sem6B12/0812/images.jpeg");
     background-image: repeat-x;
   }
  h1
   {
    color:maroon;
    margin-left: 40px;
   }
  p
  {
   color:darkblue;
   margin-left: 1000px;
   text-transform:uppercase;
   text-shadow:-4px -4px 8px blue;
  }
 
